
<option value="A" {% if include.selected == 'A' %} selected {% endif %}>A</option>
<option value="_B" {% if include.selected == 'Bb' %} selected {% endif %}>Bb</option>
<option value="B" {% if include.selected == 'B' %} selected {% endif %}>B</option>
<option value="C" {% if include.selected == 'C' %} selected {% endif %} >C</option>
<option value="_D" {% if include.selected == 'Db' %} selected {% endif %}>Db</option>
<option value="D" {% if include.selected == 'D' %} selected {% endif %}>D</option>
<option value="_E" {% if include.selected == 'Eb' %} selected {% endif %}>Eb</option>
<option value="E" {% if include.selected == 'E' %} selected {% endif %}>E</option>
<option value="F" {% if include.selected == 'F' %} selected {% endif %}>F</option>
<option value="_G" {% if include.selected == 'Gb' %} selected {% endif %}>Gb</option>
<option value="G" {% if include.selected == 'G' %} selected {% endif %}>G</option>
<option value="_A" {% if include.selected == 'Ab' %} selected {% endif %}>Ab</option>