// ----------------------------------------
// Bootstrap resets
// ----------------------------------------
.btn-primary{
  background-color: #307c97;
}
.btn-primary:hover{
  background-color: darken(#307c97, 10);
}
.btn-primary:focus{
  background-color: darken(#307c97, 10);
}
.bg-primary{
  background-color: #307c97 !important;
}

.nav-link{
  color: #307c97;
}
.nav-link:hover{
  color: darken(#307c97, 20);
}
// ----------------------------------------

.algo-panel{
  border: 1px solid #ccc;
  background-color: #efefef;
}

.green{
  background-color: green !important;
}
