// ----------------------------------------
// Bootstrap resets
// ----------------------------------------
.btn-primary{
  background-color: #307c97;
}
.btn-primary:hover{
  background-color: darken(#307c97, 10);
}
.bg-primary{
  background-color: #307c97 !important;
}

.nav-link{
  color: #307c97;
}
.nav-link:hover{
  color: darken(#307c97, 20);
}
// ----------------------------------------


.vexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}