---
layout: default
title: Guido of Arezzo
js: guido
---

<div class="container algo-panel pt-4 rounded-3">
  <!-- TEXT INPUT -->
  <div class="row">
    <div class="col-12">
      <textarea
        class="form-control mb-3 rounded-3"
        id="notes-input"
        placeholder="Type or paste text to be analysed here"
      ></textarea>
    </div>
  </div>

  <!-- LABELS -->
  <div class="row mb-3 px-3 mb-2">
    <div class="col-2">
      <label class=""><strong>Vowel</strong></label>
    </div>
    <div class="col-5">
      <label class=""><strong>Pitch</strong></label>
    </div>
    <div class="col-5">
      <label class=""><strong>Note Length</strong></label>
    </div>
  </div>

  <!-- SELECT BOXES -->
  <div class="row px-3 mb-1">
    <div class="col-2 pt-2">
      <strong>A</strong>
    </div>
    <div class="col-5">
      <select class="form-select" id="pitch-select-a">
        {% include pitch-select.html selected="C" %}
      </select>
    </div>
    <div class="col-5">
      <select class="form-select" id="duration-select-a">
        {% include duration-select.html selected="1/16" %}
      </select>
    </div>
  </div>

  <div class="row px-3 mb-1">
    <div class="col-2 pt-2">
      <strong>E</strong>
    </div>
    <div class="col-5">
      <select class="form-select" id="pitch-select-e">
        {% include pitch-select.html selected="Eb" %}
      </select>
    </div>
    <div class="col-5">
      <select class="form-select" id="duration-select-e">
        {% include duration-select.html selected="1/8" %}
      </select>
    </div>
  </div>

  <div class="row px-3 mb-1">
    <div class="col-2 pt-2">
      <strong>I</strong>
    </div>
    <div class="col-5">
      <select class="form-select" id="pitch-select-i">
        {% include pitch-select.html selected="F" %}
      </select>
    </div>
    <div class="col-5">
      <select class="form-select" id="duration-select-i">
        {% include duration-select.html selected="1/4" %}
      </select>
    </div>
  </div>

  <div class="row px-3 mb-1">
    <div class="col-2 pt-2">
      <strong>O</strong>
    </div>
    <div class="col-5">
      <select class="form-select" id="pitch-select-o">
        {% include pitch-select.html selected="G" %}
      </select>
    </div>
    <div class="col-5">
      <select class="form-select" id="duration-select-o">
        {% include duration-select.html selected="1/2" %}
      </select>
    </div>
  </div>

  <div class="row px-3 mb-1">
    <div class="col-2 pt-2">
      <strong>U</strong>
    </div>
    <div class="col-5">
      <select class="form-select" id="pitch-select-u">
        {% include pitch-select.html selected="Bb" %}
      </select>
    </div>
    <div class="col-5">
      <select class="form-select" id="duration-select-u">
        {% include duration-select.html selected="1" %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col mt-4 mx-4">
      {% include bpm-slider.html bpm="140" min="70" max="200" %}
    </div>
  </div>

  <!-- GENERATE NOTES BUTTON -->
  <div class="row my-4 px-3">
    <div class="col-12 text-end">
      <button
        class="btn btn-primary"
        id="genNotes"
        data-bs-toggle="modal"
        data-bs-target="#playerModal"
      >
        Generate!
      </button>
    </div>
  </div>
</div>

{% include player-modal.html %}

<!------------------------------------------------------------------------------------------------------>

{% contentfor algorithm_description %}
<p>
  Guido of Arezzo was an 11th century music educator and Benedictine monk. He
  developed many unique processes to help others learn about and compose music.
  For one such algorithm, a composer would map the vowels a-e-i-o-u onto the
  notes of a scale, look up a passage of scripture and apply pitches to
  individual syllables in the passage.
</p>
<p class="mb-4">
  This algorithm pays homage to Guido. You can add your own text, and define the
  pitches that will map to each vowel. In addition, note length can also be
  mapped to each vowel.
</p>
<h3>Instructions</h3>
<ol>
  <li>Add text to be analysed</li>
  <li>Change vowel-to-note mapping to the notes of your choice</li>
  <li>Change note length mapping</li>
  <li>Generate music!</li>
</ol>

{% endcontentfor %}

<!------------------------------------------------------------------------------------------------------>

{% contentfor code %}
<h4>The code</h4>
<pre>
  <code>// create score to store the notes
let score = new Score();

// create lookup tables for pitches and note duration
let pitchTable    = buildPitchTable();
let durationTable = buildDurationTable();

// get input text, and split into words
let words = inputText.toLowerCase().split(' ');

// loop through each word
words.forEach(function(word, index) {
  // find the vowels in the word
  for (let char of word) {
    if (isVowel(char)) {
      // get pitch/duration for vowel
      duration = durationTable[char];
      pitch    = pitchTable[char];
      // add to score
      score.addNote(pitch, duration);
    }
  }
});
// end score
score.addDoubleBarline();
  </code>
</pre>
{% endcontentfor %}
