---
layout: default
title: Arvo Pärt - Tintinnabuli
js: tintinnabuli
---

<h4 class='mb-3'>Try it yourself!</h4>
<div class='container algo-panel pt-4 rounded-3'>

  <form enctype="multipart/form-data">
    {% include key-chooser.html key="C" minor="checked" %}

    <div class='sequencer my-4'>
      <label class="mb-2">Rhythm Sequencer</label>
      <div class='row'>
        <div class='col'>
          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" id='seq-btns'>
            <input type="checkbox" class="btn-check" id="seq1" autocomplete="off" checked>
            <label class="btn btn-outline-primary me-1" for="seq1">1</label>

            <input type="checkbox" class="btn-check" id="seq2" autocomplete="off" checked>
            <label class="btn btn-outline-primary me-1" for="seq2">2</label>

            <input type="checkbox" class="btn-check" id="seq3" autocomplete="off">
            <label class="btn btn-outline-primary me-1" for="seq3">3</label>

            <input type="checkbox" class="btn-check" id="seq4" autocomplete="off" checked>
            <label class="btn btn-outline-primary me-1" for="seq4">4</label>

            <input type="checkbox" class="btn-check" id="seq5" autocomplete="off">
            <label class="btn btn-outline-primary me-1" for="seq5">5</label>
          </div>
        </div>
        <div class='col text-end'>
          <button type="button" class='btn btn-outline-secondary rounded-circle' id='seq-plus'>+</button>
          <button type="button" class='btn btn-outline-secondary rounded-circle' id='seq-minus'>-</button>
        </div>
      </div>
    </div>

    <div class='row mt-4'>
      <div class='col mt-3'>
        {% include bpm-slider.html bpm="70" min="40" max="100" %}
      </div>

    </div>
    <div class=''>

      <h5 class='mt-4'>M-part</h5>
      <label for="direction-select" class='form-label mt-2'>Direction</label>
      <select class="form-select" id="direction-select">
        <option value="up">Ascending</option>
        <option value="down" selected>Descending</option>
        <option value="updown">Ascending / descending</option>
        <option value="random">Random</option>
      </select>
      <h5 class='mt-4'>T-part</h5>
      <div class='row'>
        <div class='col'>
          <label for="octave-select" class='form-label'>Octave</label>
          <select class="form-select" id="octave-select">
            <option value="8P" selected>Above M-part</option>
            <option value="-8P">Below M-part</option>
          </select>
        </div>
        <div class='col'>
          <label for="chordtone-select" class='form-label'>Chord Tones</label>
          <select class="form-select" id="chordtone-select">
            <option selected>1-3-5</option>
            <option>1-3-5-7</option>
          </select>
        </div>
      </div>
    </div>

  </form>

  <!-- GENERATE NOTES BUTTON -->
  <div class='row my-4 px-3'>
    <div class='col-12 text-end'>
      <button class="btn btn-primary"
              id="genNotes"
              data-bs-toggle="modal"
              data-bs-target="#playerModal">
            Generate!
      </button>
    </div>
  </div>
</div>

{% include player-modal.html %}

<!------------------------------------------------------------------------------------------------------>

{% contentfor algorithm_description %}
<p>Tintinnabuli, from the Latin for bell, is a compositional style created by the Estonian composer Arvo Pärt. Musically, tintinnabular music is characterized by two types of voice, the first of which (dubbed the "tintinnabular voice") arpeggiates the tonic triad, and the second of which moves diatonically in stepwise motion. The works often have a slow and meditative tempo, and a minimalist approach to both notation and performance.</p>

<h4>Instructions</h4>
<ol>
  <li>Set the key of the piece</li>
  <li>Use the ryhtmic sequencer and default note length to generate different rhytmic feels</li>
  <li>The M-part (melody part) can be a ascending or descending line, or random</li>
  <li>The T-part (triad part) can be pitched an octave above or below the M-part</li>
</ol>
{% endcontentfor %}

<!------------------------------------------------------------------------------------------------------>

{% contentfor code %}
<h4>The code</h4>
<pre>
  <code>// create score to store the notes
    score.clear()

    // get selected tunes into array
    var tunes_array = []
    var selectedTunes = document.querySelectorAll('.tune-checkbox:checked');
    for(tune of selectedTunes){
      var t = new Score()
      t.importABC(window[tune.id])
      tunes_array.push(t.scoreAsText())
    }

    markov.addStates(tunes_array)

    var order = document.querySelector('#order').value
    markov.train(parseInt(order))

    var bpm = document.querySelector('#bpm').value
    score.tempo = bpm
    score.key = "D"

    var generatedNotes = markov.generateRandom(120)

    for(event of generatedNotes.split(' ')){
      if(event != ""){
        score.addNote(event[0], event[1])
      }
    }
    score.render()
  </code>
</pre>
{% endcontentfor %}
