<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    The Algorhthmic Composition Explorer - {{ page.title }}
  </title>
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- HIGHLIGHT.JS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/base16/espresso.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <!-- HTML TO PDF CONVERTER -->
  <script src="https://cdn.jsdelivr.net/npm/js-html2pdf@1.1.4/lib/html2pdf.min.js"></script>
  <!-- TONEJS -->
  <script src="https://cdn.jsdelivr.net/npm/tone@14.7.77/build/Tone.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tonejs/midi@2.0.28/build/Midi.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/filesaver.js@1.3.4/FileSaver.min.js"></script>
  <!-- TONAL -->
  <script src="https://cdn.jsdelivr.net/npm/@tonaljs/tonal/browser/tonal.min.js"></script>
  <!-- MARKOV CHAINS  -->
  <script src="https://cdn.jsdelivr.net/npm/js-markov@3.0.3/dist/markov.node.min.js"></script>

  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="/assets/js/instruments/piano.js"></script>
  <script src="/assets/js/instruments/synth.js"></script>
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/abcjs-basic-min.js"></script>
  <script src="/assets/js/score.js"></script>
  <script src="/assets/js/mixins/import-abc-mixin.js"></script>
  <script src="/assets/js/audio-player.js"></script>
  <script src="/assets/js/algorithms/{{ page.js }}.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark bg-primary mb-3 mb-md-5 px-sm-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="bi bi-music-note-beamed me-2"></i>
        <!-- use abbreviated name on phones  -->
        <span class='d-xs-inline d-md-none'>ACE</span>
        <!-- use full name on larger screens  -->
        <span class='d-none d-md-inline'>The Algorithmic Composition Explorer</span>
        <i class="bi bi-music-note-list ms-2"></i>
      </a>
    </div>
  </nav>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-2 mb-5'>
        {% include nav.html %}
      </div>
      <div class='col-sm-10'>
        <div class='row'>
          <h1 class='mb-3'>{{ page.title }}</h1>
        </div>
        <div class='row pb-5'>
          <div class='col'>
            {{ content }}
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-6 pe-sm-5 mb-4'>
            <h4 class='mb-3'>About</h4>
            {% contentblock algorithm_description %}
          </div>
          <div class='col-sm-6'>
            {% contentblock code %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>